@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Unbounded", sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.logo {
    width: 80px;
    padding-left: 60px;
}

.nav-text {
    display: flex;
    gap: 50px;
    padding-right: 60px;
    text-transform: uppercase;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-right: -80px;
}

.nav-link-1 {
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-right: -80px;
}

.main-block {
    width: 100%;
    height: 800px;
    background-image: url(img/back.jpg);
    background-size: cover;
}

.main-block-info {
    display: flex;
    justify-content: right;
    height: 600px;
    align-items: center;
    background: -webkit-linear-gradient(90deg, #363940, #10151b);
    background: linear-gradient(90deg, #363940, #10151b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    text-align: right;
}

.block-info {
    background-color: #363940;
    display: flex;
    width: 100%;
    height: 500px;
}

.left-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-block {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin: 0 auto;
}

.left-block-img {
    width: 600px;
    padding-left: 50px;
}

.block-eats {
    background-color: #363940;
}

.block-eats-photo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.block-eats-img-1 {
    width: 20vw;
    border-radius: 20px;
    transition: 1s;
}

.block-eats-img-2 {
    width: 24vw;
    border-radius: 20px;
    transition: 1s;
}

.block-eats-img-3 {
    width: 20vw;
    border-radius: 20px;
    transition: 1s;

}

.block-eats-img-4 {
    width: 20vw;
    border-radius: 20px;
}

.block-eats-1,
.block-eats-2,
.block-eats-3,
.block-eats-4 {
    transition: 1s;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.block-eats-1:hover {
    transform: scale(1.15);
}

.block-eats-2:hover {
    transform: scale(1.15);
}

.block-eats-3:hover {
    transform: scale(1.15);
}

.block-eats-4:hover {
    transform: scale(1.15);
}

.block-eats-text-4{
    width: 18vw;
    margin-top: 10px;
}

.block-eats-text-1,
.block-eats-text-3,
.block-eats-text-2 {
    width: 18vw;
    margin-top: 10px;
}

.block-eats-price-1,
.block-eats-price-2,
.block-eats-price-3,
.block-eats-price-4 {
    color: #696969;

}

.block-eats-title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.slider {
    background-color: #363940;
}

.slider-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.splide {
    min-height: 200px;
    margin-top: 50px;
    padding-bottom: 30px;
}

.splide__slide {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 15px 50px;
    row-gap: 25px;
    transition: 1s;
}

.splide__slide:hover {
    transform: scale(1.15);
}

.slider-comm {
    font-size: 14px;
    text-align: justify;
}

.location,
.vk {
    width: 15px;
    margin-right: 5px;
}

.footer {
    background-color: hsl(220, 10%, 17%);
    border-top: #10151b solid 3px;
    display: flex;
    justify-content: space-between;
}

.left-block-info {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    width: 600px;
}

.left-block-title,
.left-block-link {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.map-text,
.vk-group {
    font-size: 13px;
}

.vk-group {
    margin-left: 10px;
    text-decoration: none;
    color: black;

}

.right-block-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    align-items: center;
}

.time-work {
    /* width: 150px; */
    height: 40px;
    margin: 0 auto;
    text-decoration: none;
    color: #000;
    transform: 1s;
    text-align: left;
}

.terms-delivery {
    /* width: 200px; */
    height: 40px;
    margin: 0 auto;
    text-decoration: none;
    color: #000;
    transform: 1s;
}

.time-work:hover,
.terms-delivery:hover {
    color: #363940;
    transform: scale(1.15);
}

.time {
    width: 15px;
    margin-right: 5px;
}

.delivery {
    width: 15px;
}

.modal {
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* цвет фона */
    z-index: 1050;
    opacity: 0;
    /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    /* анимация перехода */
    pointer-events: none;
    /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}

/* при отображении модального окно */
.modal:target {
    opacity: 1;
    /* делаем окно видимым */
    pointer-events: auto;
    /* элемент видим для событий мыши */
    overflow-y: auto;
    /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
        /* для отображения модального окна по центру */
    }
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid hsla(210, 3%, 30%, 0.342);
    background-color: hsl(220, 10%, 17%);
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: hsl(0, 0%, 100%);
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
    background-color: hsl(220, 10%, 17%);

}

.wrapper {
    width: 200px;
}

/* Основные стили */
.menu a {
    text-decoration: none;
}

.menu a.parent {
    margin: 0px 30px 0px 0px;
}

.menu li {
    position: relative;
    list-style: none;
}

.menu__list {
    display: flex;
}

.menu__list>li {
    margin: 0px 30px 0px 0px;
}

.menu__link {
    color: #fff;
    width: 200px;
    display: flex;
    justify-content: center;
}

.sub-menu__list {
    display: none;
    position: absolute;
}

.sub-menu__link {
    color: #000000;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
    transform: 1s;
    width: 200px;
    background-color: #ffffff;
}

.sub-menu__link:hover {
    transform: scale(1.15);
    color: #10151b;
}

body.mouse .menu__list>li:hover .sub-menu__list {
    display: block;
}

@media (max-width:767px) {
    .wrapper {
        padding: 15px;
    }

    .menu__list {
        display: block;
    }

    .menu__list>li {
        margin: 0px 0px 10px 0px;
    }

    .sub-menu__list {
        position: relative;
        left: 0;
        top: 0;
    }

    .sub-sub-menu__list {
        padding: 0px 5px;
        position: relative;
        left: 0;
        top: 0;
    }

    .sub-menu__arrow.arrow {
        right: 10px;
        top: 15px;
        border-bottom: none;
        border-left: 10px solid transparent;
        border-top: 10px solid #000;
        border-right: 10px solid transparent;
    }
}

.phone {
    width: 17px;
    margin-right: 7px;
}

.number {
    color: #000;
}


.block-eats-menu-set {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.block-eats-set {
    margin-top: 30px;
}

.block-eats-menu-img-1 {
    width: 22vw;
    border-radius: 20px;
    transition: 1s;
}

.block-eats-menu-img-2 {
    width: 22vw;
    border-radius: 20px;
    transition: 1s;
}

.block-eats-img-menu-3{
    width: 22vw;
    border-radius: 20px;
    transition: 1s;
}